/******************* GENERAL STYLES **********************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    min-width: 375px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #131518;
    color: #969FAD;
    font-size: 1em;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Overpass', sans-serif;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

section {
    width: 87.2%;
    margin: 154px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /* background: #181E27; #232A34 */
    background: linear-gradient(#232A34, #181E27);

}

.container {
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1 {
    color: #fff;
    font-size: 1.71em;
    font-weight: 700;
    line-height: 30px;
    width: 100%;
}

section .hide {
    display: none;
}

/******************* RATING *******************/

.rating {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.rating .container {
    justify-content: flex-start;
}

.rating img {
    width: 14.3%;
    padding: 13px;
    background: #262E38;
    border-radius: 50%;
    margin: 24px 0 16px 0;
}

.rating h1 {
    margin-bottom: 17px;
}

.button-case {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.button-case button {
    color: #7C8798;
    background: #262E38;
    border: 1px solid #262E38;
    padding: 9px 18px;
    border-radius: 50%;
}

input[type="submit"] {
    width: 100%;
    margin-bottom: 32px;
    padding: 12px 109px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.87px;
    color: #fff;
    background: #FC7614;
    border: 1px solid #FC7614;
}

/******************* THANK YOU *******************/

.thank-you {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}