/******************* GENERAL STYLES **********************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    min-width: 375px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #131518;
    color: #969FAD;
    font-size: 1em;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Overpass', sans-serif;
    min-height: 100vh;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

section {
    width: 87.2%;
    background: linear-gradient(#232A34, #181E27);
    border-radius: 5%;
}

.container {
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1 {
    color: #fff;
    font-size: 1.71em;
    font-weight: 700;
    line-height: 30px;
    width: 100%;
}

section .hide {
    display: none;
}

.chosen {
    background: #FC7614 !important;
    color: #fff !important;
}

/******************* RATING *******************/

.rating {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.rating .container {
    justify-content: flex-start;
}

.rating img {
    width: 14.3%;
    padding: 13px;
    background: #262E38;
    border-radius: 50%;
    margin: 24px 0 16px 0;
}

.rating h1 {
    margin-bottom: 17px;
}

.button-case {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.button-case button {
    width: 48px;
    color: #7C8798;
    background: #262E38;
    border: 1px solid #262E38;
    padding: 9px 18px;
    border-radius: 50%;
    line-height: 24px;
    letter-spacing: 0.175px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

input[type="submit"] {
    width: 100%;
    margin-bottom: 32px;
    padding: 12px 109px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.87px;
    color: #fff;
    background: #FC7614;
    border: 1px solid #FC7614;
    border-radius: 30px;
}

/******************* THANK YOU *******************/

.thank-you {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.thank-you img {
    width: 56%;
    margin: 34px 0 24px 0;
}

p.message {
    padding: 5px 12px;
    color: #FC7614;
    background: #262E38;
    border-radius: 30px;
    margin-bottom: 24px;
}

.thank-you h1 {
    text-align: center;
    margin: 0 0 17px 0;
}

.thank-you p.content {
    text-align: center;
    margin-bottom: 37px;
}



/********************* DESKTOP STYLES *******************/

@media (min-width: 1200px) {
    /******************* GENERAL STYLES *******************/

    section {
        width: 28.6%;
        background: linear-gradient(#232A34, #181E27);
        border-radius: 5%;
    }

    /******************* RATING *******************/

    .rating img {
        width: 14.1%;
        margin: 32px 0 30px 0;
    }

    .rating h1 {
        font-size: 2em;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .rating p {
        font-size: 1.1em;
        line-height: 24px;
    }

    .button-case {
        margin: 24px 0 32px 0;
    }

    .button-case button:hover {
        background: #7C8798;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    input[type="submit"]:hover {
        color: #FC7614;
        background: #FFF;
        border: 1px solid #FFF;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    /******************* THANK YOU *******************/

    .thank-you img {
        width: 56%;
        margin: 45px 0 32px 0;
    }

    .thank-you p.message {
        font-size: 1.1em;
        padding: 4px 20px;
        line-height: 24px;
        border-radius: 30px;
        margin-bottom: 36px;
    }

    .thank-you h1 {
        font-size: 2em;
        line-height: 35px;
        margin-bottom: 7px;
    }

    .thank-you p.content {
        text-align: center;
        margin-bottom: 45px;
        line-height: 24px;
    }
}